[submodule "suckless/.config/dwm"]
	path = suckless/.config/dwm
	url = https://github.com/pedroclobo/dwm
[submodule "suckless/.config/dwmblocks"]
	path = suckless/.config/dwmblocks
	url = https://github.com/pedroclobo/dwmblocks
[submodule "suckless/.config/dmenu"]
	path = suckless/.config/dmenu
	url = https://github.com/pedroclobo/dmenu
[submodule "suckless/.config/slock"]
	path = suckless/.config/slock
	url = https://github.com/pedroclobo/slock
