! Dwm
dwm.font: Fira Code:size=10
dwm.normbgcolor: #16202a
dwm.normbordercolor: #16202a
dwm.normfgcolor: #bbbbbb
dwm.selbgcolor: #004d7c
dwm.selbordercolor: #004d7c
dwm.selfgcolor: #eeeeee
dwm.borderpx: 1
!dwm.snap
dwm.showbar: 1
dwm.topbar: 1
dwm.nmaster: 1
dwm.resizehints: 0
dwm.mfact: 0.50

! Dmenu
dmenu.font: Fira Code:size=10
dmenu.background: #16202a
dmenu.foreground : #bbbbbb
dmenu.selbackground: #004d7c
dmenu.selforeground : #eeeeee
